// colors.scss

// Global Colors
$font-color: #fff;

// Background Colors
$container-bg: #f7eb80;
$left-bg: #6e7a5b;
$right-bg: #a6ad80;
$button-bg: #dcf829;
$button-text: #000;

// Button Styles
$button-radius: 10px;
$button-width: 7em;
$button-height: 2.5em;
